
<nav class="navbar">

  <h2>Enterprise App</h2>

  @if(authService.getUsername()) {

  <p>
    Welcome, {{ authService.getUsername() }}
  </p>

}
@else {

  <p>
    Guest User
  </p>

}
  <div class="nav-links">

    <a
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>

    <a
      routerLink="/login"
      routerLinkActive="active">
      Login
    </a>

    <a
      routerLink="/register"
      routerLinkActive="active">
      Register
    </a>

    <a
      routerLink="/dashboard"
      routerLinkActive="active">
      Dashboard
    </a>

  </div>

</nav>